@media (max-width: 1180px) {
    .Button-menu{
        width: 50px;
        height: 50px;
        display:flex !important;
        justify-content: center;
        align-items: center;
        background-color: rgb(27, 27, 27);
        border: none;
        cursor: pointer;
        padding: 0;
        margin: 0;
    }
    .Button-content{
        display: flex;
        flex-direction: column;
        align-content: space-between;
        width: 60%;
        height: 60%;
    }
    .HeaderMenu-toggle-bar{
        width: 100%;
        height: 2px;
        background-color: white;
        transition: all 0.3s ease;
        margin: 4px 0;
    }
    .AppHeader-Menu{
        display: none;
    }
    .AppHeader {
        position: relative;
    }
}

body{
    font-family:"Roboto", "Arial", sans-serif;;
    background-color: black;
    color: #ffffff;
    padding: 0;
    margin: 0;
}
.layout{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.AppHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Bitcount Grid Double", system-ui;
    background-color:rgb(27, 27, 27);
    font-size: 1.5em;
    box-sizing: border-box;
    overflow: hidden;
    padding: 1% 5%;
    height: 100px;
}
.HeaderMenu-nav{
    display:flex;
    justify-content: space-between;
    list-style-type: none;
    width: 600px;
    margin: 0;
    padding: 0;
}
.HeaderMenu-nav-li > a{
    text-decoration: none;
    color: #ffffff;
}
.HeaderMenu-nav-li > a:hover{
    text-decoration: none;
    transition: all 0.3s ease;
    color: #adadad;
}
.Button-menu{
    display: none;
}