.appfooter{
    margin-top: 80px;
    flex-shrink: 1;
    min-height: 200px;
}

.footer-case{
    display: flex;
    position: relative;
    box-sizing: border-box;
    flex-direction: column;
    padding: var(--padding-main);
    bottom: 0;

    font: var(--font-accent);
    background: var(    --color-main);
}

.footer-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footer-section-div{
    display: flex;
    align-items: center;
    flex-direction: column;

    min-width: 250px;
    font-size: 1rem;
}

.footer-section-row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    gap: 1rem;
    width: 100%;
}

.footer-section-row > img{
    width: 30px;
    height: 30px;

    transition: transform 0.3s ease;
}

.footer-section-row img:hover {
    transform: scale(1.1);
    opacity: 0.9;
}

@media (max-width: 768px) {
    .footer-section{
        flex-direction: column;
        align-items: center;
    }
}