.appheader{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 3rem 0 3rem;
    box-sizing: border-box;

    width: 100%;
    min-height: 100px;
    z-index: 100;
}

.appsection-appheader{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 0.5rem;
    box-sizing: border-box;
    height: 80px;
    border-radius: 0 0 40px 40px;

    transition: 0.5s ease;
}

.appsection-appheader.scrolled{
    background: var(--color-main);
    box-shadow: var(--shadow-main);
}
