:root {
    --font-main: "Bebas Neue", sans-serif;
    --font-header: "Bitcount Grid Double", system-ui;
    --fontsize-main: 1.5rem;

    --textshadow-main: 0 0 0.1rem #000;
    --shadow-main: 0 0 0.3em #000;

    --padding-main: 1rem;
    --hight-section: calc(100vh - 100px);
    --borderradius-main: 45px;
}

:root, [data-theme="light"] {
    --gradient-main: linear-gradient(45deg, #FBFFFF, #BEE7E3);
    --gradient-header: linear-gradient(to right, #256962, #8EDAD2);
    --color-main: #5D968F;
    --colortext-main: #000;
    --colortext-header: #fff;
}

[data-theme="dark"] {
    --gradient-main: #040a18;
    --gradient-header: linear-gradient(to right, #000000, #8EDAD2);
    --color-main: #040a18;
    --colortext-main: #000000;
    --color-text: #ffffff;
    --textshadow-main: 0 0 0.1rem #ffffff;
    --shadow-main: 0 0 0.3em #ffffff;
    --colortext-header: #ffffff;
}

[data-theme="retro"] {
    --gradient-main: linear-gradient(to right, #00D1BA, #0695BF);
    --gradient-header: linear-gradient(to right, #256962, #8EDAD2);
    --color-main: rgb(43, 43, 43);
    --colortext-main: #000;
    --colortext-header: #fff;
}