.button-menu{
    display:none;
    justify-content: center;
    align-items: center;
    
    background: none;
    border: none;
    cursor: pointer;
    width: 50px;
    height: 50px;
}

.button-label{
    display: flex;
    flex-direction: column;
    align-content: space-between;

    width: 30px;
    height: 30px;
}

.button-toggle-bar{
    margin: 4px 0;

    width: 100%;
    height: 2px;
    background-color: var(--color-text);
    transition: all 0.5s ease;
}

.button-menu.active .button-toggle-bar:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
}

.button-menu.active .button-toggle-bar:nth-child(2) {
    opacity: 0;
}

.button-menu.active .button-toggle-bar:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
}

#button-submenu{
    display: flex;
    align-items: center;
    color: var(  --color-text);
    text-shadow: var(  --textshadow-main);
    cursor: pointer;
    width: 100%;
    transition: 0.3s ease;
    position: relative;
}

.submenu > li {
    display: flex;
}

#button-submenu:hover{
    color: var(--color-main);
}

@media (min-width: 1110px) {

    #button-submenu:hover .submenu, .submenu:hover {
        display: block;
    }

    #button-submenu:hover > img {
        transition: transform  0.5s ease;
        transform: rotate(90deg);
    }
}

@media (max-width: 1110px){

    .button-menu{
        display: block;
    }

    #button-submenu{
        justify-content: start;
        margin-left: -5px;
        align-items: start;
    }

    #button-submenu.active{
        height: auto;
        flex-direction: column;
        gap: 2em;
    }

    #button-submenu.active > img {
        display: none;
    }
}
