.menu-nav{
    width: clamp(280px, 60%, 1000px);
    color: var(--colortext-header);
    text-shadow: var(--textshadow-main);
    position: absolute;
}

.menu-box-ul{
    display: flex;
    justify-content: space-around;
    align-items: center; 
    gap: 1em;
}

.menu-box-ul li{
    display: flex;
}

.submenu-box-a{
    display: flex;
}

.submenu-box-nav{
    display: none;
    position: absolute;
}

.menu-nav-ul{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    padding: 0.5rem;
}

@media (min-width: 1110px) {

    .button-submenu:hover  img{
        transition: transform  0.3s ease;
        transform: rotate(90deg);
    }

    .button-submenu:hover .submenu-box-nav, .submenu-box-nav:hover{
        margin-top: 230px;
        width: clamp(150px, 20%, 400px);
        display: flex; 
        backdrop-filter: blur(0.3rem);
        box-shadow: var(--shadow-main);
        border-radius: 15px;
    }
}

@media (max-width: 1110px){

    .menu-nav{
        transform: translateY(-20px);
        top: 80px;
        left: 0;
        right: 0;
        position: fixed;
        z-index: 100;

        width: 100%;
        opacity: 0;
        visibility: hidden;
        text-shadow: none;
        transition: opacity 0.5s ease, visibility 0.5s ease, transform 0.5s ease;
        border-radius: 25px 25px 0 0;
        background-color: var(    --colortext-header);
        height: calc(100vh - 80px);

        overflow-y: auto;
    }
    .menu-nav a{
        color: var(--colortext-main) !important;
    }
    .menu-box-ul{
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        gap: 2em;
        min-height: 100%;
    }

    .menu-nav-ul{
        padding: 0;
    }

    .menu-nav.active{
        
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
    .submenu-box-nav{
        display: none;
    }
    .submenu-box-nav.active {
        display: flex;
        position: relative;
        font-size: 1.3rem;
    }
}


/*
.appheader-menu-nav{
    font-family: var(--font-header);
    width: clamp(280px, 90%, 1000px);
    text-shadow: var(  --textshadow-main);
}

.appheader-menu-ul{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.submenu-img{
    width: 30px;
    height: 30px;
}

.submenu {
    display: none;
    flex-direction: column;

    align-items: start;
    position: absolute;
    top: 70%;
    left: 0;
    gap: 1em;

    font-family: var(  --font-main);
    border-radius: 5px;
    z-index: 100;
    min-width: 180px;
    width: 100%;
    padding: 10px;
    backdrop-filter: blur(0.3rem);
    box-shadow: var(--shadow-main);

}

.submenu > li{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.appheadermenu-li{
    width: 100%;
}
 .appheadermenu-li::after {
        content: '';
        position: absolute;
        bottom: -10px;
        left: 0;
        width: 100%;
        height: 20px;
        background: transparent;
}

@media (max-width: 1110px){

    .appheader-menu-nav{
        opacity: 0;
        visibility: hidden;
        transform: translateY(-20px);
        transition: opacity 0.5s ease, visibility 0.5s ease, transform 0.5s ease;
        top: 80px;
        left: 0;
        right: 0;
        position: fixed;
        z-index: 100;

        width: 100%;
        overflow-y: auto;
        border-radius: 25px 25px 0 0;
        background-color: var(--color-header);
        height: calc(100vh - 80px);
    }

    .appheader-menu-nav.active{
        
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }

    .appheader-menu-ul{
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        gap: 2em;
        width: auto;
        min-height: 100%;
    }

    .submenu{
        display: none;
    }

    .submenu.active {
        display: flex;
        font-size: 1.2rem;
        position: relative;
        box-shadow: none;
        top: 0;
    }
}

